<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info</h3>
		<ul>
			<li>The BookStore</li>
			<li>#11Eo St.496 Phnom Penh</li>
			<li>Phone: 012 315 841</li>
			<li>Email: chinnpaotaing@gmail.com</li>
		</ul>
	</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
	<div>
		<% @categories.each do |category| %>
			<%= link_to category.name, category_path(category.id), class: 'list-group-item' %>
		<% end %>
	</div>
<% end %>