<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails.png" />
      <div class="post-content">
        <h3>Header One</h3><small>Posted by: Chinnpao on October 22 2017</small>
        <p>
          The term "weblog" was coined by Jorn Barger on 17 December 1997. The short form, Evan Williams at Pyra Labs used "blog" as both a noun and verb ("to blog", meaning "to edit one's weblog or to post to one's weblog") and devised the term "blogger" in connection with Pyra Labs' Blogger product, leading to the popularization of the terms.
          <a href="#" class="btn btn-primary btn-blog">Read more...</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails.png" />
      <div class="post-content">
        <h3>Header One</h3><small>Posted by: Chinnpao on October 22 2017</small>
        <p>
          The term "weblog" was coined by Jorn Barger on 17 December 1997. The short form, Evan Williams at Pyra Labs used "blog" as both a noun and verb ("to blog", meaning "to edit one's weblog or to post to one's weblog") and devised the term "blogger" in connection with Pyra Labs' Blogger product, leading to the popularization of the terms.
          <a href="#" class="btn btn-primary btn-blog">Read more...</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails.png" />
      <div class="post-content">
        <h3>Header One</h3><small>Posted by: Chinnpao on October 22 2017</small>
        <p>
          The term "weblog" was coined by Jorn Barger on 17 December 1997. The short form, Evan Williams at Pyra Labs used "blog" as both a noun and verb ("to blog", meaning "to edit one's weblog or to post to one's weblog") and devised the term "blogger" in connection with Pyra Labs' Blogger product, leading to the popularization of the terms.
          <a href="#" class="btn btn-primary btn-blog">Read more...</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails.png" />
      <div class="post-content">
        <h3>Header One</h3><small>Posted by: Chinnpao on October 22 2017</small>
        <p>
          The term "weblog" was coined by Jorn Barger on 17 December 1997. The short form, Evan Williams at Pyra Labs used "blog" as both a noun and verb ("to blog", meaning "to edit one's weblog or to post to one's weblog") and devised the term "blogger" in connection with Pyra Labs' Blogger product, leading to the popularization of the terms.
          <a href="#" class="btn btn-primary btn-blog">Read more...</a>
        </p>
      </div>
    </div>
  </div>
</div>